<appSettings>
	<add key="segurancaEntities" value="metadata=res://*/BDSeguranca.csdl|res://*/BDSeguranca.ssdl|res://*/BDSeguranca.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=etb-05;initial catalog=kpi_seg;persist security info=True;user id=user_producao;password=producao01;MultipleActiveResultSets=True;App=EntityFramework&quot;"/>
	<add key="sistemaEntities" value="metadata=res://*/BDSistema.csdl|res://*/BDSistema.ssdl|res://*/BDSistema.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=etb-05;initial catalog=kpi_sis;persist security info=True;user id=user_producao;password=producao01;multipleactiveresultsets=True;application name=EntityFramework&quot;"/>
	<add key="redeEntities" value="metadata=res://*/BDRede.csdl|res://*/BDRede.ssdl|res://*/BDRede.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=etb-05;initial catalog=kpi_rede_producao;persist security info=True;user id=user_producao;password=producao01;MultipleActiveResultSets=True;App=EntityFramework&quot;"/>

	<add key="gmEntities" value="metadata=res://*/gmModel.csdl|res://*/gmModel.ssdl|res://*/gmModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ETB-05;initial catalog=allupa_geo;persist security info=True;user id=user_producao;password=producao01;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
 	<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" lockItem="false"/>
</appSettings>
